<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
		#l-map{height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;}
		#r-result{height:100%;width:20%;float:left;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=CWZ0GuwuA81lUA8jpQrxPEomAjx61BGK"></script>
	<title>User Trace</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>

<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(121.14467411, 30.10514611);
	map.centerAndZoom(point, 10);

    // 用户轨迹
	var loc = {{ trace|safe }};
	// 聚类中心点
    var center = {{ cluster_center|safe }};

    // 用来存储坐标点
	var points = [];
	// 用来存储聚类中心坐标点
	var points_ave = [];

	// 解析后端传递的json数据，存储到points中
	for (var i = 0; i < loc.length; i++)
    {
        var curr = [];
        for (var j = 0; j < loc[i].length; j++)
        {
            curr.push(new BMap.Point(loc[i][j][3],loc[i][j][4]));
        }
        points.push(curr);
    }

	// 解析后端传递的json数据，存储到points_ave中
	for (var i = 0; i < center.length; i++)
    {
        points_ave.push(new BMap.Point(center[i][0],center[i][1]));
    }

	// 聚类中心在地图上的显示颜色
 	var options_ave =
 	{
        size: BMAP_POINT_SIZE_SMALL,
        shape: BMAP_POINT_SHAPE_STAR,
        color: '#000000'
    };

	// 颜色库
    var colors = ['#d340c3', '#58c132', '#2a28bf', '#ef0404', '#4B0082', '#B0C4DE', '#B580C1', '#38D7EF'];


    // 根据聚类类别的数量选择相应种类的颜色
	var options_all = [];
	for (var i = 0; i < center.length; i++)
    {
        var option =
            {
                size: BMAP_POINT_SIZE_SMALL,
                shape: BMAP_POINT_SHAPE_STAR,
                color: colors[i]
            };

        options_all.push(option)
    }

	// 在地图上显示轨迹坐标点
	for (var i = 0; i < points.length; i++)
    {
        var pointCollection = new BMap.PointCollection(points[i], options_all[i]);
        map.addOverlay(pointCollection);
    }

	// 在地图上显示聚类中心点
	var pointCollection_ave = new BMap.PointCollection(points_ave, options_ave);
	map.addOverlay(pointCollection_ave);


    // 提示框
	var myGeo = new BMap.Geocoder();
	for (var i = 0; i < points.length; i++)
    {
        myGeo.getLocation(points_ave[i], function(result){
            if (result){
                alert('常去地点：' + result.address);
            }
        });
    }

</script>

