<p>User Profile</p>

<p>User Id: {{ User_id }}</p>

<p>常去地点一: </p>
    <li>coordinate: {{ ave1 }}</li>
    <li>address: 浙江省宁波市余姚市东环线</li>
    <li>banks: None</li>
    <li>malls: None</li>
    <li>hospital: None</li>

<p>常去地点二: </p>
    <li>coordinate: {{ ave2 }}</li>
    <li>address: 浙江省宁波市余姚市健康路103号</li>
    <li>banks: '宁波银行(余姚支行)', '宁波银行24小时自助银行(余姚支行)', '浙江农信余姚农村商业银行', '余姚市农村商业银行24小时自助银行(新建路)', '中国银行(桐江桥支行)', '中国邮政储蓄银行(桐江桥邮局营业部)', '中国邮政储蓄银行ATM(智慧桥路)', '中国银行24小时自助银行(余姚支行)', '中国工商银行24小时自助银行', '中国建设银行(城关支行)'</li>
    <li>malls: '新大新·天一广场', '新大新时尚广场', '富达广场', '鲜果日记'</li>
    <li>hospital: '余姚市中医院', '余姚市第二人民医院', '余姚市妇幼保健所', '阳明国医馆', '包家路诊所口腔专科', '阳明街道胜山社区卫生服务站', '余姚市中医医院-门诊楼', '余姚市第二人民医院-1号楼', '宪卿第社区卫生站', '季卫桥社区-卫生站'</li>

<p>常去地点三: </p>
    <li>coordinate: {{ ave3 }}</li>
    <li>address: 浙江省宁波市鄞州区中山东路</li>
    <li>banks: '中信银行24小时自助银行(宁波东城支行)', '中信银行(宁波东城支行)', '恒生银行', '兆丰国际商业银行', '招商银行24小时自助银行服务', '中国农业银行(宁波世纪支行)', '中国农业银行24小时自助银行', '兴业银行(中山华庭社区银行)', '兴业银行24小时自助银行(中山华庭社区银行)', '宁波市市区农村信用合作联社(江南春晓分社)'</li>
    <li>malls: '宏泰广场'</li>
    <li>hospital: '宁波云医院', '雅苑社区卫生服务站', '顾国荣口腔诊所'</li>
